language: node_js

env:
 - IMAGE_NAME=868894423383.dkr.ecr.eu-west-1.amazonaws.com/isentest:1.0-$TRAVIS_BUILD_NUMBER
services:
  - docker

script:
  - npm install

after_success:
  - pip install --user awscli 
  - eval $(aws ecr get-login --region eu-west-1 --no-include-email)
  - docker build -t 3r1co/nodetest .
  - docker tag 3r1co/nodetest $IMAGE_NAME
  - docker push $IMAGE_NAME
  - aws cloudformation deploy --template-file ./ecs-task.yaml --stack-name ecstask --region eu-west-1 --parameter-override "ParameterKey=ImageName,ParameterValue=$IMAGE_NAME"
  - aws cloudformation update-stack --template-body file://./ecs-task.yaml --stack-name ecstask --region eu-west-1 --parameters "ParameterKey=ImageName,ParameterValue=$IMAGE_NAME"